@model IEnumerable<Genre>

    @{
        ViewBag. Title = "List of Book Genres";
    }
<h1>Genres</h1>
<a asp-action="Create">Create New Genre</a>

<table class="table":   
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model. Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Genre i in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i. Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@i.GenreId">Details</a>
                     <a asp-action="Edit" asp-route-id="@i.GenreId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@i.GenreId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>